In [22]:
print("Name : ")
print("We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph")
print("Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years")

Name :
We will be cleaning the big data and make a comparison to show who has a healthier heart smokers OR non smokers, uisng a line graph
Also we will be deriviring which age group has the high chances of coronary heart disease in 10 years

# Task 1 - Plot a line graph to show the difference between heart rate of smokers and non smokers

In [23]:
#Import libraries
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
#read the csv
df = pd.read_csv("framingham.csv")
df

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
2,1,48,1.0,1,20.0,0.0,0,0,0,245.0,127.5,80.0,25.34,75.0,70.0,0
3,0,61,3.0,1,30.0,0.0,0,1,0,225.0,150.0,95.0,28.58,65.0,103.0,1
4,0,46,3.0,1,23.0,0.0,0,0,0,285.0,130.0,84.0,23.10,85.0,85.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4233,1,50,1.0,1,1.0,0.0,0,1,0,313.0,179.0,92.0,25.97,66.0,86.0,1
4234,1,51,3.0,1,43.0,0.0,0,0,0,207.0,126.5,80.0,19.71,65.0,68.0,0
4235,0,48,2.0,1,20.0,NaN,0,0,0,248.0,131.0,72.0,22.00,84.0,86.0,0
4236,0,44,1.0,1,15.0,0.0,0,0,0,210.0,126.5,87.0,19.16,86.0,NaN,0
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [24]:
#Filter and make a new dataframe for non smokers
non_smoker = df.loc[df["currentSmoker"] == 0]
non_smoker

,male,age,education,currentSmoker,cigsPerDay,BPMeds,prevalentStroke,prevalentHyp,diabetes,totChol,sysBP,diaBP,BMI,heartRate,glucose,TenYearCHD
0,1,39,4.0,0,0.0,0.0,0,0,0,195.0,106.0,70.0,26.97,80.0,77.0,0
1,0,46,2.0,0,0.0,0.0,0,0,0,250.0,121.0,81.0,28.73,95.0,76.0,0
5,0,43,2.0,0,0.0,0.0,0,1,0,228.0,180.0,110.0,30.30,77.0,99.0,0
6,0,63,1.0,0,0.0,0.0,0,0,0,205.0,138.0,71.0,33.11,60.0,85.0,1
8,1,52,1.0,0,0.0,0.0,0,1,0,260.0,141.5,89.0,26.36,76.0,79.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4226,1,58,1.0,0,0.0,0.0,0,0,0,233.0,125.5,84.0,26.05,67.0,76.0,1
4228,0,50,1.0,0,0.0,0.0,0,1,1,260.0,190.0,130.0,43.67,85.0,260.0,0
4231,1,58,3.0,0,0.0,0.0,0,1,0,187.0,141.0,81.0,24.96,80.0,81.0,0
4232,1,68,1.0,0,0.0,0.0,0,1,0,176.0,168.0,97.0,23.14,60.0,79.0,1
4237,0,52,2.0,0,0.0,0.0,0,0,0,269.0,133.5,83.0,21.47,80.0,107.0,0

In [25]:
#Group by age column and find average heart rate at different age
age_heart = df.groupby("age")["heartRate"].mean().reset_index()
age_heart

    age  heartRate
0    32  80.000000
1    33  75.600000
2    34  73.555556
3    35  73.785714
4    36  74.761905
5    37  75.043478
6    38  76.631944
7    39  75.958580
8    40  76.518325
9    41  75.977011
10   42  75.522222
11   43  77.603774
12   44  74.867470
13   45  76.166667
14   46  78.027473
15   47  76.184397
16   48  76.028902
17   49  75.363636
18   50  76.457143
19   51  75.821918
20   52  76.255034
21   53  77.273381
22   54  75.598485
23   55  74.965517
24   56  73.902439
25   57  75.276423
26   58  76.675214
27   59  74.705882
28   60  76.099099
29   61  74.681818
30   62  74.454545
31   63  74.281818
32   64  76.706522
33   65  74.473684
34   66  78.868421
35   67  76.266667
36   68  80.277778
37   69  77.000000
38   70  64.000000

In [26]:
#Filter and make a new dataframe for smokers
smoker = df.loc[df["currentSmoker"] == 1]
smoker

In [27]:
#Group by age column and find average heart rate at different age
age_heart = df.groupby("age")["heartRate"].mean().reset_index()
age_heart

Conslusion -

# Task 2 - Which age group have high chances of having coronary heart disease in 10 years

In [29]:
#Read the csv
csv = pd.read_csv("framingham.csv")
#Filter and make a new dataframe for those who has chances of having coronary heart disease in 10 years
filter_in_tet_yrs = csv

In [30]:
#Group by age column and count the rows of TenYearCHD column

In [31]:
#Plot a line graph to show total number of people having a chance of coronary heart disease in 10 years

Conslusion -